<section class="intro">
  <div class="container">
    <p class="lead">Hi guys!</p>
    <p class="lead">Welcome to the official website to our Data Mining course. 
      Please use the resources on this website to improve your learning experience in the course!.</p><br>
      <HR>
      <br> 
      <p class="lead">Instructor: Cristian Roman-Palacios.</p>
      <p class="lead"> Email: cromanpa94 at arizona dot edu</p>
      <p class="lead">Office: Harvill 445D</p>
      <p class="lead">Office Hours (Zoom): TBD. Please email me.</p>
      <br> 
      <HR>
      <p class="h1">News!</p>
  </div>
</section>
