
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title_left }}<span>{{ site.title_right }}</span></a></h1>
    <ul class="navbar">
      <li><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">The course</a></li>
      <!–– <li><a href="{{ '/syllabus' | prepend: site.baseurl | prepend: site.url }}">Syllabus</a></li>  ––>
      <!––  <li><a href="{{ '/rsetup' | prepend: site.baseurl | prepend: site.url }}">R setup</a></li>  ––>
      <li><a href="{{ '/software' | prepend: site.baseurl | prepend: site.url }}">Additional software</a></li>
      <li><a href="{{ '/links' | prepend: site.baseurl | prepend: site.url }}">Links</a></li>
      <!––  <li><a href="{{ '/schedule' | prepend: site.baseurl | prepend: site.url }}">Schedule</a></li>  ––>
    </ul>
  </div>
</nav>
